<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>36870951082-8maqi7h5a1et3qud1uaijqljq2eiigvq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36870951082-8maqi7h5a1et3qud1uaijqljq2eiigvq</string>
	<key>API_KEY</key>
	<string>AIzaSyDRwOp_1N_6HPEGDhPoIOPsfr5YTkQvH-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>36870951082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crown.mobile.sloticamobile</string>
	<key>PROJECT_ID</key>
	<string>sloticamobile</string>
	<key>STORAGE_BUCKET</key>
	<string>sloticamobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:36870951082:ios:1e2216ac790bb73e</string>
	<key>DATABASE_URL</key>
	<string>https://sloticamobile.firebaseio.com</string>
</dict>
</plist>